.intro {
	// background: linear-gradient(180deg, #34dddd, #e78720);
	background-color: lightblue;
}

.container {
	position: relative;

	display: flex;
	justify-content: flex-end;
	align-items: center;

	max-width: 960px;
	margin: auto;
	height: 100vh;
}

.poster {
	position: absolute; top: 40px; left: 0px;
	width: 33%;
	height: 450px;

	margin: 0;

	box-shadow: 0px 0px 80px -10px rgba(0,0,0,0.29);

	.cover {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.back-poster {
	width: 78%;

	background-color: #FFF;
	box-shadow: 0px 0px 100px -10px rgba(0,0,0,0.29);
}

.admin-bar {
	height: 50px;
	text-align: right;

	font-family: 'Merriweather', serif;

	box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.19);
}

.episodes-card {
	height: 70vh;
	overflow: auto;

	ul {
		list-style: none;
		padding-right: 70px;
		padding-left: 150px;
	}

	li {
		margin-bottom: 30px;
	}
}

.episode-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	margin-bottom: 10px;

	span {
		padding-right: 5px;
		padding-left: 5px;

		border-radius: 3px;

		font-family: 'Lato', sans-serif;
		font-weight: 400;
		font-size: 12px;
		line-height: 20px;

		background-color: #C3C3C3;
		color: #FFF;
	}

	h2 {
		margin-left: 15px;

		font-family: 'Inconsolata', monospace;
		font-size: 24px;
	}
}

.episode-metadata {
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 0.8rem;
	color: #929292;

	a {
		text-decoration: none;
		color: inherit;
	}
}
