.episodes-list {
	h2 {
		line-height: 1.5;

		a {
			color: $gray-dark;
		}

		a:hover {
			color: $black;
		}
	}

	.badge {
		position: relative; top: -0.3rem;
		font-size: 0.8rem;
	}
}

// Apply this CSS to _episode-single.scss
// #hero-image {
// 	height: 50vh;
// }

// .episode-text {
// 	font-family: Merriweather;
// 	font-size: 1.15rem;
// }
