.featured-image-main {
	height: 70vh;
}

.episode-main-content-wrap {
	position: relative; top: -200px;
}

.episode-main-content {
	background-color: #FFF;
	box-shadow: 0px 0px 100px -10px rgba(0,0,0,0.29);

	.breadcrumb {
		border-radius: 0;
		border-bottom: 1px solid rgba(0,0,0,0.05);
	}

	form .episode-text {
		border: 1px solid #EEE;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
}
.episode-main-content header {
	h1 {
		font-size: 4.5rem;
		line-height: 1.5;

		&:focus {
			outline: 0;
		}
	}

	.badge {
		position: relative; top: -0.3rem;
		font-size: 1.3rem;
	}
}

.episode-text {
	margin-top: 4rem;
	margin-bottom: 4rem;
	font-family: Merriweather;
	font-size: 1.15rem;
	line-height: 1.7 !important;
	word-break: break-word;
	hyphens: auto;

	&:focus {
		outline: 0;
	}
}

/* Respnsive container */
@media (max-width: 992px) {
	.episode-main-content-wrap {
		position: relative; top: 0px;
	}

	.episode-main-content header {
		h1 {
			font-size: 2.5rem;
			line-height: 1;
		}

		.badge {
			position: relative; top: 0rem;
			font-size: 1rem;
		}
	}

	#input-episode-slug {
		width: 100% !important;
		min-width: 100% !important;
	}
}
