.home-poster-wrap {
	position: absolute; z-index: 2000;
	.poster {
		box-shadow: 0px 0px 80px -10px rgba(0,0,0,0.29);
	}
}

.main-content-wrap {
	background-color: #FFF;
	box-shadow: 0px 0px 100px -10px rgba(0,0,0,0.29);

	.push {
		padding-left: 130px;
	}

	.navbar {
		background-color: #FFF;
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
		box-shadow: 0px 24px 18px -32px rgba(0,0,0,0.46);
	}

	.breadcrumb {
		margin: 0;
		padding-right: 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.03);
	}
}

/* Respnsive container */
@media (max-width: 992px) {
	.home-poster-wrap {
		position: relative;
	}

	.home-poster-wrap .poster {
		margin-top: 0 !important;
	}

	.main-content-wrap .vh-90 {
		height: auto;
	}

	.main-content-wrap .vh-80 {
		height: auto;
	}

	.main-content-wrap .push {
		padding-left: 15px;
	}
}
